<h2>Getting Redmart users</h2>

<ul>
  <% @users.each do |user| %>
  <li>
    <%= user[:address] %>
  </li>
  <% end %>
</ul>

<table class="table table-striped">
  <thead>
    <tr>
      <th>ID</th>
      <th>Title</th>
    </tr>
  </thead>
  <tbody>
    <% @users.each do |user| %>
    <tr>
      <td>
        <%= user[:id] %>
      </td>
      <td>
        <%= user[:name] %>
      </td>
      <td>
        <%= user[:address] %>
      </td>
    </tr>
    <% end %>
  </tbody>
</table>
